@page "/blog/comments/{BlogId:guid}"
@attribute [Authorize]
@using Blazored.LocalStorage
@using BlogFrontend.Models
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Authorization
@inject HttpClient HttpClient
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ILocalStorageService LocalStorageService

<div class="blog-page" style="color: #fff;">
    <Header OnSearchCompleted="HandleSearchCompleted" />
    <div class="comments-section">
        <h2>Сomments</h2>

        @if (comments == null)
        {
            <p>Loading comments...</p>
        }
        else if (comments.Count == 0)
        {
            <p>No comments yet</p>
        }
        else
        {
            <ul>
                @foreach (var comment in comments)
                {
                    <li>
                        <div class="comment">
                            <p class="comment-content">@comment.Content</p>
                            @* <p class="comment-details">от @comment.User.UserName, @comment.CreatedAt.ToString("g")</p> *@
                        </div>
                    </li>
                }
            </ul>
        }

        <div class="add-comment">
            <textarea @bind="newCommentContent" placeholder="Write a comment..."></textarea>
            <button @onclick="SubmitComment">Add comment</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public Guid BlogId { get; set; }
    private List<CommentDto> comments;
    private string newCommentContent;
    private Guid UserId;
    protected override async Task OnInitializedAsync()
    {
        var userIdString = await LocalStorageService.GetItemAsync<string>("userId");

        if (Guid.TryParse(userIdString, out var parsedUserId))
        {
            UserId = parsedUserId;
        }
        else
        {
            Console.Error.WriteLine("Invalid User ID format.");
        }

        await LoadComments();
    }

    private async Task SetAuthorizationHeader()
    {
        var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "jwt");

        if (!string.IsNullOrEmpty(token))
        {
            token = token.Trim('"');
            HttpClient.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", token);
        }
    }

    private async Task CreateNotification(Notification notification)
    {
        await SetAuthorizationHeader();
        var response = await HttpClient.PostAsJsonAsync("http://20.218.137.224/api/Notifications/CreateNotification", notification);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Notification created successfully.");
        }
        else
        {
            Console.Error.WriteLine("Failed to create notification.");
        }
    }

    private async Task LoadComments()
    {
        comments = await HttpClient.GetFromJsonAsync<List<CommentDto>>($"http://20.93.118.201/api/Comments/blog/{BlogId}");
    }

    private async Task SubmitComment()
    {
        var comment = new Comment
        {
            BlogId = BlogId,
            UserId = UserId,
            Content = newCommentContent,
            CreatedAt = DateTime.UtcNow
        };

        var response = await HttpClient.PostAsJsonAsync("http://20.93.118.201/api/Comments/CreateComment", comment);

        if (response.IsSuccessStatusCode)
        {
            newCommentContent = string.Empty;

            var notification = new Notification
            {
                UserId = UserId,
                Message = $"User {UserId} opened comments",
                Type = "Comment"
            };

            await CreateNotification(notification);
            await LoadComments();
        }
        else
        {
            Console.Error.WriteLine("Error adding a comment");
        }
    }

    private void HandleSearchCompleted(List<BlogDto> searchResults)
    {
        
    }

}
