@page "/menu"
@using BlogFrontend.Models
@using System.Text.Json
@using System.Text.RegularExpressions
@using BlogFrontend.Providers
@using System.Net.Http.Headers
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject JwtAuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorageService
@inject IJSRuntime JSRuntime

<div class="menu" id="menu" data-first-topic-id="@firstTopicId">
    <div class="menu-content menu-items dragscroll">
        @if (topics != null && topics.Any())
        {
            @foreach (var topic in topics)
            {
                <a class="menu-item @((selectedTopicId == topic.Id) ? "active" : "")"
                   id="topic-@topic.Id"
                   href="javascript:void(0);"
                   @onclick="() => SetActiveTopic(topic.Id, topic.Name)">
                    @topic.Name
                </a>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<(int, string)> OnTopicSelected { get; set; }
    [Parameter]
    public EventCallback OnTopicsUpdated { get; set; }

    private List<Topic> topics;
    private int? selectedTopicId;
    private int? firstTopicId;
    private Guid userId;

    protected override async Task OnInitializedAsync()
    {
        var userIdString = await LocalStorageService.GetItemAsync<string>("userId");

        if (Guid.TryParse(userIdString, out var parsedUserId))
        {
            userId = parsedUserId;
            await LoadTopics();
        }
        else
        {
            Console.Error.WriteLine("Invalid User ID format.");
        }

        if (topics != null && topics.Any())
        {
            firstTopicId = topics.First().Id;
            selectedTopicId = firstTopicId;
            await OnTopicSelected.InvokeAsync((firstTopicId.Value, topics.First().Name));
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadTopics();
    }

    private async Task SetAuthorizationHeader()
    {
        var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "jwt");

        if (!string.IsNullOrEmpty(token))
        {
            token = token.Trim('"');
            HttpClient.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", token);
        }
    }

    private async Task LoadTopics()
    {
        try
        {
            await SetAuthorizationHeader();

            var response = await HttpClient.GetAsync($"http://135.236.156.195/api/Topic/GetUserTopics/{userId}");
            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                json = RemoveMetadataFromJson(json);
                topics = JsonSerializer.Deserialize<List<Topic>>(json, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });
                StateHasChanged();
            }
            else
            {
                Console.Error.WriteLine($"Error: {response.ReasonPhrase}");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error loading topics: {ex.Message}");
        }
    }

    private async Task SetActiveTopic(int topicId, string topicName)
    {
        selectedTopicId = topicId;
        await OnTopicSelected.InvokeAsync((topicId, topicName));
    }

    private string RemoveMetadataFromJson(string json)
    {
        return Regex.Replace(json, @"\{""\$id"":""\d+"",""(\$values|\$ref)"":\[\]?\}", "{}");
    }
}
