@page "/Identity/confirmation"
@page "/Identity/confirmation/{email}"

@inject NavigationManager Navigation
@inject HttpClient HttpClient
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@code {
    [Parameter]
    public string Email { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParameters = System.Web.HttpUtility.ParseQueryString(uri.Query);
        Email = queryParameters["email"];
    }
}

<div class="container">
    <div class="identity-wrapper">
        <div class="left-panel confirmation-left-panel">
            <img src="Assets/IMG/LogoImg2.png" alt="Logo" />
            <div class="identity-wrap">
                <div class="inbox">
                    <img src="Assets/IMG/mail.png" alt="">
                    <h1>Check<br>your inbox</h1>
                    <p>Click the link we sent to<br><span style="font-weight: bold;">@Email</span> to sign up.</p>
                </div>
            </div>
        </div>
        <div class="right-panel confirmation-right-panel">
            <div class="offer confirmation-offer">
                <h1>The world<br>of a blogger<br>is engaging<br>and diverse.</h1>
            </div>
            <img src="Assets/IMG/identityItem_3.png" alt="" />
            <div class="Copyright">
                <div>Copyright © 2023</div>
            </div>
        </div>
    </div>
</div>
